body {
      font-family: Arial, sans-serif;
      background: #74ABE2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .login-container {
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
      width: 550px;
      height: auto;
      margin-top: auto;
      padding: 2rem;
    }

    h2 {
      text-align: left;
      color: #10b49c;
    }

    h3 {
        font-size: 1.25em;
      text-align: left;
      color: #10b49c;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #444;
    }

    input {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    input:focus {
      border-color: #5563DE;
      outline: none;
    }

    .error {
      color: red;
      font-size: 13px;
      margin-top: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #5563DE;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      text-align: center;
      
    }

    button:hover {
      background-color: #3947c2;
    }
    
    .inline{
     width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    } 